botocore==1.10.16
dask
docutils
fakeredis
future
h5py
ipaddress
jmespath==0.9.3
katversion
netifaces
numpy
pyephem
python-dateutil
python-lzf
rdbtools
redis
six
toolz
requests==2.18.4
bs4==4.6.0
html5lib==1.0.1

git+ssh://git@github.com/ska-sa/katpoint#egg=katpoint
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
