dask
defusedxml
docutils
fakeredis
future
h5py==2.8.0
ipaddress
katversion
netifaces
numpy
pyephem
python-dateutil
python-lzf
rdbtools
redis
requests
six
toolz

git+ssh://git@github.com/ska-sa/katpoint#egg=katpoint
git+ssh://git@github.com/ska-sa/katsdptelstate#egg=katsdptelstate
