botocore
certifi
chardet
dask
defusedxml
docutils
enum34
funcsigs
jmespath
future
h5py
idna
ipaddress
katversion
llvmlite
msgpack
netifaces
numba
numpy
pyephem
python-dateutil
python-lzf
rdbtools
redis
requests
singledispatch
six
subprocess32
toolz
urllib3

katpoint @ git+https://github.com/ska-sa/katpoint
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
